# An example MANIFEST file can be found at:
# https://github.com/pypa/sampleproject/blob/master/MANIFEST.in
# For more details about the MANIFEST file, you may read the docs at
# https://docs.python.org/2/distutils/sourcedist.html#the-manifest-in-template
